@import url('//fonts.googleapis.com/css?family=Varela+Round');

p {
    font-size: 0.8em !important;
}

section {
    font-family: 'Varela Round', sans-serif !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Varela Round', sans-serif !important;
    text-transform: inherit !important;
}

ul ul {
    font-size: 0.75em !important;
}

ul.small {
    font-size: 0.7em
}

code.di {
    display: inline-block;
}

code.small {
    clear: both;
    font-size: 0.6em;
    color: #000000;
    background-color: #ffecae;
}

section.small {
    font-size: 0.8em;
}

section.small span {
    font-size: 0.6em;
}

.gray {
    color: grey
}

minor {
    color: grey;
}

minor:before {
    content: '(';
}

minor:after {
    content: ')';
}

.left-align {
    text-align: left;
}

.lefty {
    float: left;
    width: 50%;
}

.righty {
    float: right;
    width: 50%;
}

.footnote {
    width: 100%;
    text-align: left;
    color: grey;
}

ul.list_star > li:before {
    content: '⭐';
    margin-left: -20px;
    margin-right: 10px;
}

ul.list_emoji {
    list-style-type: none;
}

ul.list_none {
    list-style-type: none !important;
    margin-right: 0;
}

.text-underline {
    text-decoration: underline;
}

.code-white {
    color: #000;
    background: #ffffff;
}

strong {
    color: coral;
}

.text-strike {
    text-decoration: line-through;
}

.split-h {
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.split-h div {
}